* {
    margin: 0;
     box-sizing: border-box;
}
.header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}
.default{
    display: flex;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.aside{
    position: fixed;
    z-index: 10;
    width: 250px;
    margin-top: 67px;
}
.main{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    padding: 6% 5% 0 300px;
    overflow-x: hidden;
    justify-content: center;
}
.mainFalse{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 100vh;
    justify-content: center;
}
