* {
     box-sizing: border-box;
}
.wrap-header{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 5;
}
.right-template{
    display: flex;
}
.flex-template{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.wrap-aside{
    position: fixed;
    z-index: 10;
    width: 250px;
}
.main{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    padding: 2% 5% 0 300px;
    overflow-x: hidden;
}
