.wrap-header{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 5;
}
.wrap-aside{
    position: fixed;
    left: 0;
}
.right-template{
    display: flex;
    justify-content: center;
}
.flex-template{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main{
display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    min-width: 75%;
    box-sizing: border-box;
    align-items: center;
}
